asgiref==3.11.0
dj-database-url==3.0.1
Django==5.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
daphne==4.1.2
channels==4.1.0
channels-redis==4.2.0
gunicorn==23.0.0
uvicorn[standard]>=0.30
packaging==25.0
psycopg2-binary==2.9.11
python-dotenv==1.2.1
pytz==2025.2
sqlparse==0.5.5
whitenoise==6.11.0
pandas==2.2.3
openpyxl==3.1.5
pywebpush==1.14.0
firebase-admin==6.4.0
redis==5.0.8
django-redis==5.4.0
cloudinary>=1.40.0
django-cloudinary-storage>=0.3.0
django-storages[s3]>=1.14.4
Pillow>=10.4.0
requests==2.32.5
